.background-hover-container {
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);

    transition: background-position 0.5s ease-out;
}

.background-hover-container h1 {
    position: absolute;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    z-index: 1;
}
